.card
  .card-block
    %h4.card-title= comment.commenter
    %h6{ class: 'card-subtitle text-muted' }= comment.created_at
    %hr
    %p.card-text= comment.body
    = link_to 'Reply', new_article_comment_path(comment.id)
    - if signed_in?
      = link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }
