.container-fluid
  .row#article-tags
    %div{ class: 'col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2' }
      .card
        .card-block
          %p.card-text a list of tags to come soon
  .row#article-controls
    %div{ class: 'col-xs-12 text-xs-right', id: 'new-article' }
      = link_to 'New article...', new_article_path, class: 'btn btn-primary'
  %br
  .card-columns
    - @articles.each do |article|
      .card
        .card-header
          = link_to 'Update', edit_article_path(article), class: 'btn btn-warning'
          = link_to 'Delete', article_path(article), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
        .card-block
          %h2{ class: 'card-title text-xs-center' }= article.title
          %p{ class: 'card-text text-muted' }= article.subtitle
          %p.card-text= article.summary
          .text-xs-center
            %div{ class: 'btn-group btn-group-md', role: 'group' }
              = link_to 'Read', article_path(article), class: 'btn btn-outline-primary'
        .card-footer= article.tags
