%section
  .controls
    -if signed_in?
      = link_to 'New Article', new_article_path, class: 'btn btn-solid'
    - if params[:search]
      = link_to 'Clear Search Terms', articles_path, class: 'btn btn-outline'
    - if params[:tag]
      = link_to 'Clear Tag Filter', articles_path, class: 'btn btn-outline'
  #article-tags
    #articles-tag-cloud
      - tag_cloud Tag.counts, %w{tag1 tag2 tag3 tag4} do |tag, css_class|
        = link_to tag.name, tag_path(tag.name), class: css_class
  - unless @articles.present?
    .card
      .card-body
        .text-center
          %h2.card-title There are No Articles to Display
          %p.card-text Try using a different search term, or you can click on one of the tags to explore related articles.
  - else
    - @articles.each do |article|
      %article.article-preview.card
        .card-body
          - if signed_in?
            .article-actions
              = link_to 'Update', edit_article_path(article)
              \|
              = link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }
          %h2.article-title= link_to article.title, article_path(article)
          %h4.article-subtitle= article.subtitle
          %p.article-summary= article.summary
          .tags
            = raw tag_links article.all_tags
