-@page = { title: 'The Digital Works of RV Davis' }
.container-fluid
  %br
  .row#article-tags
    %div{ class: 'col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2' }
      .card
        .card-block
          %p.card-text
            - tag_cloud Tag.counts, %w{tag1 tag2 tag3 tag4} do |tag, css_class|
              = link_to tag.name, tag_path(tag.name), class: css_class
  .row#article-controls
    %div{ class: 'col-xs-12 text-xs-center', id: 'new-article' }
      %div{ class: 'btn-group btn-group-md', role: 'group' }
        -if signed_in?
          = link_to 'New article...', new_article_path, class: 'btn btn-primary'
        - if params[:tag]
          = link_to 'Back', articles_path, class: 'btn btn-outline-primary'
  %br
  - unless @articles.present?
    %div{ class: 'alert alert-warning col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3' }
      %h2.text-xs-center There are No Articles to Display
      %p.text-justified Try using a different search term, or you can click on one of the tags to explore related articles.
  - else
    .card-columns
      - @articles.each do |article|
        .card
          %div{ class: 'card-header text-muted' }= "Last updated: #{article.created_at}"
          .card-block
            - if signed_in?
              .text-xs-right
                %div{ class: 'btn-group btn-group-md', role: 'group' }
                  = link_to 'Update', edit_article_path(article), class: 'btn btn-warning'
                  = link_to 'Delete', article_path(article), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
              %br
            %h2{ class: 'card-title text-xs-center' }= article.title
            %p{ class: 'card-text text-muted' }= article.subtitle
            %p.card-text= article.summary
            .text-xs-center
              %div{ class: 'btn-group btn-group-md', role: 'group' }
                = link_to 'Read', article_path(article), class: 'btn btn-outline-primary'
          .card-footer
            = raw tag_links article.all_tags
