-@page = { title: @article.title, 'navbar-title': 'View Article' }
.jumbotron.jumbotron-fluid
  .container
    %h1.text-right.display-3= @article.title
    %p.text-right.lead= @article.subtitle
.container
  .row.justify-content-center
    .col-xs-12.col-lg-10
      .card
        .card-body
          .container
            .row.justify-content-end
              .col-xs-12.col-lg-10.text-right
                %div{ class: 'btn-group btn-group-md', role: 'group' }
                  - if signed_in?
                    = link_to 'Update', edit_article_path(@article), class: 'btn btn-primary'
                  = link_to 'Back', articles_path, class: 'btn btn-outline-primary'
            .text-center
              %hr
            %p.text-muted= "PUBLISHED BY Richard Davis AT #{@article.created_at.in_time_zone("Central Time (US & Canada)")}"
            - if @article.created_at != @article.updated_at
              %p.text-muted= "LAST UPDATED AT #{@article.updated_at.in_time_zone("Central Time (US & Canada)")}"
            .text-center
              %hr
            .row.justify-content-center
              .col-xs-12.col-lg-10.text-justified
                = markdown(@article.text).html_safe
            .row.justify-content-center
              .col-xs-12.col-lg-8
                %hr
                %p.text-center
                  %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-sa/4.0/' }
                    %img{ alt: 'Creative Commons License', style: 'border-width:0', src: 'https://i.creativecommons.org/l/by-sa/4.0/88x31.png' }
                  %br
                  %span{ 'xmlns:dct': 'http://purl.org/dc/terms/', property: 'dct:title' }= @article.title
                  by
                  %a{ 'xmlns:cc': 'http://creativecommons.org/ns#', href: 'http://www.rvdavis.me/', property: 'cc:attributionName', rel: 'cc:attributionURL' } Richard Davis
                  is licensed under a
                  %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-sa/4.0/' }
                    Creative Commons Attribution-ShareAlike 4.0 International License.
