-@page = { title: @article.title,
           'navbar-title': 'View Article' }
%div{ class: 'jumbotron jumbotron-fluid' }
  .container
    %h1{ class: 'text-right display-3' }= @article.title
    %p{ class: 'text-right lead' }= @article.subtitle
.container
  %div{ class: 'row justify-content-center' }
    %div{ class: 'col-xs-12 col-lg-10' }
      .card
        .card-body
          .container
            %div{ class: 'row justify-content-end' }
              %div{ class: 'col-xs-12 col-lg-10 text-right' }
                %div{ class: 'btn-group btn-group-md', role: 'group' }
                  - if signed_in?
                    = link_to 'Update', edit_article_path(@article), class: 'btn btn-primary'
                  = link_to 'Back', articles_path, class: 'btn btn-outline-primary'
            .text-center
              %hr
            %h6.text-muted= "PUBLISHED BY Richard Davis AT #{@article.created_at}"
            - if @article.created_at != @article.updated_at
              %h6.text-muted= "LAST UPDATED AT #{@article.updated_at}"
            .text-center
              %hr
            %div{ class: 'row justify-content-center' }
              %div{ class: 'col-xs-12 col-lg-10 text-justified' }
                = markdown(@article.text).html_safe
            %div{ class: 'row justify-content-center' }
              %div{ class: 'col-xs-12 col-lg-8' }
                %p.text-center
                  %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-sa/4.0/' }
                    %img{ alt: 'Creative Commons License', style: 'border-width:0', src: 'https://i.creativecommons.org/l/by-sa/4.0/88x31.png' }
                  %br
                  %span{ 'xmlns:dct': 'http://purl.org/dc/terms/', property: 'dct:title' }= @article.title
                  by
                  %a{ 'xmlns:cc': 'http://creativecommons.org/ns#', href: 'http://www.rvdavis.me/', property: 'cc:attributionName', rel: 'cc:attributionURL' } Richard Davis
                  is licensed under a
                  %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-sa/4.0/' }
                    Creative Commons Attribution-ShareAlike 4.0 International License.
