- @page = { title: 'Sign Up', 'navbar-title': 'Sign Up' }
.card
  .card-body-alt
    = form_for @user do |form|
      .form
        .form-group
          = form.label :email
          = form.text_field :email, type: 'email'
        .form-group
          = form.label :password
          = form.password_field :password
        .form-action
          = form.submit class: 'btn btn-solid'
  .card-footer
    %p
      Already have an account?
      = link_to t(".sign_in"), sign_in_path
