- @page = { title: 'Contact Richard', subtitle: '' }
.container
  .row
    %div{ class: 'col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3' }
      .card
        .card-block
          = form_tag '/mail', method: :post do
            .form-group
              = label_tag 'email'
              %br
              = email_field_tag 'email', nil, class: 'form-control'
            .form-group
              = label_tag 'subject'
              %br
              = text_field_tag 'subject', nil, class: 'form-control'
            .form-group
              =label_tag 'body'
              %br
              ~text_area_tag 'body', nil, class: 'form-control'
            = submit_tag 'Send Message', class: 'btn btn-primary'
