-if signed_in?
  .controls
    = link_to 'New Link', new_link_path, class: 'btn btn-solid'
%section#links-index-content
  - unless @links.present?
    .card
      .card-body
        %h2.card-title There are No Links to Display
        %p.card-text No links have been shared yet; check back later.
  - else
    - @links.each do |link|
      .card
        - if signed_in? || link.published?
          .card-body
            - if signed_in?
              .link-actions
                = link_to 'Update', edit_link_path(link)
                \|
                = link_to 'Delete', link_path(link), method: :delete, data: { confirm: 'Are you sure?' }
            %h2.card-subtitle.text-muted= link.created_at.strftime('%B %d, %Y')
            %p.card-text= markdown(link.message).html_safe
