- @page = { title: 'Links', 'navbar-title': 'Links' }
.container
  -if signed_in?
    .row.justify-content-center.mt-3.mx-3
      = link_to 'New Link', new_link_path, class: 'btn btn-primary'
    %hr
  - unless @links.present?
    .row.justify-content-center.mt-3.mx-3
      .col-lg-12
        .card
          .card-body
            .text-center
              %h2.card-title There are No Links to Display
              %p.card-text No links have been shared yet; check back later.
  - @links.each do |link|
    .row.justify-content-center.mt-3.mx-3
      .col-xs-12.col-md-6
        .card
          - if signed_in?
            .card-header
              .text-right
                %div{ class: 'btn-group btn-group-md', role: 'group' }
                  = link_to 'Update', edit_link_path(link), class: 'btn btn-outline-primary'
                  = link_to 'Delete', link_path(link), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' }
          - if signed_in? || link.published?
            .card-body
              %h6.card-subtitle.text-muted= link.updated_at.in_time_zone("Central Time (US & Canada)")
              %p.card-text= markdown(link.message).html_safe
