.card#activity-category-card
  .card-body-alt
    .controls
      = link_to 'New Category', new_activity_category_path
    %h2.text-center Categories
    %table
      - @activity_categories.each do |activity_category|
        %tr
          %td= activity_category.label
          %td= activity_category.description
          %td= link_to(activity_category){ icon 'search' }
          %td= link_to(edit_activity_category_path(activity_category)){ icon 'pencil' }
          %td= link_to(activity_category, method: :delete, data: { confirm: 'Are you sure?' }){ icon 'trash' }
  .card-footer
    = link_to 'Back', hourglass_path
