- @page = { title: 'Feed', 'navbar-title': 'Feed' }
.container
  -if signed_in?
    .row.justify-content-end.mt-2.mx-2
      = link_to 'New Post', new_post_path, class: 'btn btn-primary'
    %hr
  - @posts.each do |post|
    .row.justify-content-center.mt-2.mx-2
      .card{ class: 'col-xs-12 col-md-6' }
        - if signed_in? || post.published?
          .card-body
            - if signed_in?
              .text-right
                %div{ class: 'btn-group btn-group-md', role: 'group' }
                  = link_to 'Update', edit_post_path(post), class: 'btn btn-outline-primary'
                  = link_to 'Delete', post_path(post), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' }
            %h6.card-subtitle.text-muted= post.updated_at
            %p.card-text= markdown(post.message).html_safe
