- @page = { title: 'Show Post', 'navbar-title': 'Show Post' }
.container
  .row.justify-content-center.mt-2
    .col-xs-12.col-md-8
      .card
        .card-body
          - if signed_in?
            .text-right
              %div{ class: 'btn-group btn-group-md', role: 'group' }
                = link_to 'Update', edit_post_path(@post), class: 'btn btn-outline-primary'
                = link_to 'Delete', post_path(@post), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' }
          %h6.card-subtitle.text-muted= @post.updated_at
          %p.card-text= markdown(@post.message).html_safe
          = link_to 'Back', posts_path
