%footer
  #footer-heading
    %h2 Connect with RV Davis
  #footer-icons
    .footer-icon
      %a{ href: 'dick@rvdavis.me' }
        = icon('envelope', class: 'fa-4x')
      %p
        = link_to 'Public Key', 'http://pgp.mit.edu/pks/lookup?op=get&search=0x0997BADFB2E6E15E'
      %p A7F7 F47B C0DD 7C37 C943  AD99 0997 BADF B2E6 E15E
    .footer-icon
      %a{ href: 'https://gitlab.com/d3d1rty', class: 'footer-icon' }
        = icon('gitlab', class: 'fa-4x')
    .footer-icon
      %a{ href: 'https://stackoverflow.com/users/5886961/richard-davis?tab=profile', class: 'footer-icon' }
        = icon('stack-overflow', class: 'fa-4x')
    .footer-icon
      %a{ href: 'https://www.linkedin.com/in/rvdavis', class: 'footer-icon' }
        = icon('linkedin', class: 'fa-4x')
  %p#footer-copyright &copy; Copyright 2016-#{DateTime.now.year} Richard Davis
