%nav
  #nav-header
    %a{ href: '', id: 'nav-toggle' }
      = icon 'bars'
    = link_to 'Richard Davis', { controller: 'welcome' }, class: 'navbar-text'
  #nav-menu
    %ul
      %li
        = form_tag(articles_path, method: 'get', id: 'nav-search') do
          = text_field_tag :search, params[:search], placeholder: 'Search articles...', class: 'form-control', id: 'nav-search-box'
          = submit_tag 'Search', class: 'btn btn-primary'
          %br
      %li
        = link_to 'Articles', articles_path, class: 'nav-link'
      %li
        = link_to 'Projects', { controller: 'welcome', action: 'projects' }, class: 'nav-link'
      %li
        = link_to 'Resume', root_path << 'Resume_RichardDavis.pdf', class: 'nav-link', target: '_blank'
      %li
        = link_to 'Contact', { controller: 'welcome' }, class: 'nav-link'
