%nav
  #nav-header
    .text-left
      %a{ href: '#', id: 'nav-toggle' }
        = icon 'bars'
      %span.navbar-text= ENV['BLOG_NAME']
  #nav-menu
    %ul
      %li
        = link_to 'About', { controller: '/welcome', action: 'about' }, class: 'nav-link'
      %li
        = link_to 'Articles', articles_path, class: 'nav-link'
      %li
        = link_to 'Links', links_path, class: 'nav-link'
      %li
        = link_to 'Projects', projects_path, class: 'nav-link'
      - if signed_in?
        %li
          = link_to 'Sign out', sign_out_path, method: :delete, class: 'nav-link'
