%nav
  #nav-header
    .text-left
      %a{ href: '#', id: 'nav-toggle' }
        = icon 'bars'
      = link_to "#{@page[:'navbar-title']}", '', class: 'navbar-text'
  #nav-menu
    %ul
      %li
        = form_tag(articles_path, method: 'get', class: 'form-inline', id: 'nav-search') do
          = text_field_tag :search, params[:search], placeholder: 'Search articles...', class: 'form-control', id: 'nav-search-box'
          = submit_tag 'Search', class: 'btn btn-solid'
          %br
      %li
        = link_to 'About', { controller: '/welcome', action: 'about' }, class: 'nav-link'
      %li
        = link_to 'Articles', articles_path, class: 'nav-link'
      %li
        = link_to 'Links', links_path, class: 'nav-link'
      %li
        = link_to 'Projects', projects_path, class: 'nav-link'
      - if signed_in?
        %li
          = link_to 'Sign out', sign_out_path, method: :delete, class: 'nav-link'
