!!!
- unless @page.nil?
  - title = @page[:title]
- else
  - title = 'Full-stack software engineer'
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1.0' }
    %title= "#{title} | Richard Davis"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = auto_discovery_link_tag :rss, '/feed?format=rss', { title: 'RVDavis.me | Richard Davis (RSS)' }
  %body
    = render 'layouts/nav'
    = render 'layouts/header'
    #wrap
      = yield
    = render 'layouts/footer'
