!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1.0' }
    %title= "#{@page[:title]} | RVDavis.me"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = auto_discovery_link_tag :rss, '/feed?format=rss', { title: 'The Homepage of RV Davis | RVDavis.me (RSS)' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity: 'sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin: 'anonymous' }
  %body
    = render 'layouts/nav'
    = render 'layouts/header'
    #wrap
      = yield
    = render 'layouts/footer'
