!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1.0' }
    %title= "#{@page[:title]} | RVDavis.me"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = auto_discovery_link_tag :rss, '/feed?format=rss', { title: 'The Homepage of RV Davis | RVDavis.me (RSS)' }
    %link{ href: 'https://micro.blog/d3d1rty' rel="me" }
  %body
    = render 'layouts/nav'
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
